:root {
    --logo-bg-color: #2B2E4D;
}

footer {
    display: flex;
    width: 100%;
    gap: 50px;
    background-color: rgb(56, 56, 56);
    border-top: 2px solid black;
    color: white;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 20px 5px;
}

.get-in-touch > p {
    text-align: left;
}

#quick-links-ul {
    list-style:square;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#quick-links-ul > li > a:hover {
    padding: 0;
    background-color: rgb(56, 56, 56);
    color: white;
}

#quick-links-heading {
    position: relative;
    right: 20px;
}