:root {
    --logo-bg-color: #2B2E4D;
}

footer {
    width: 100%;
    background-color: var(--logo-bg-color);
    border-top: 2px solid black;
    color: white;
    display: flex;
    flex-direction: column;
}

.footer-content {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 30px 0;
}

.get-in-touch > p {
    text-align: left;
    font-size: 1.25rem;
}

#quick-links-ul {
    list-style: disc;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#quick-links-ul > li > a {
    border-radius: 5px;
    padding: 7px 0;
    font-size: 1.25rem;
}

#quick-links-ul > li > a:hover {
    padding: 7px 5px;
    background-color: white;
    transition: .2s;
    color: black;
}

#quick-links-heading {
    position: relative;
    right: 20px;
}

#in-touch-heading, #quick-links-heading {
    margin-bottom: 10px;
    font-size: 1.8rem;
}

.copyright {
    color: black;
    background-color: rgb(240, 222, 204);
    width: 100%;
    padding: 3vh 5vw;
}