:root {
    --logo-bg-color: #2B2E4D;
    --text-color: #1b1d30;
    --subheading-color: rgb(244, 76, 58);
}

#scrollbar-container {
    height: 5px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: grey;
    z-index: 100000000;
    left: 0;
}

#scrollbar {
    background-color: yellow;
    height: 100%;
    scale: 0 1;
    transform-origin: left;
    animation: zoom-in linear;
    animation-timeline: scroll();
}

#face {
    width: 100%;
    height: 100vh;
    z-index: 10000;
    display: none;
}

body {
    background-color: white;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: min(100px, 10vw);
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 20px 0;
}

p {
    font-size: clamp(1rem, 1.25vw, 1.25rem);
    text-align: center;
}

.heading {
    text-align: center;
}

.text > .heading, p {
    animation: fade-in 1s;
}

.container.stats {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    z-index: 1;
}

.a-stat {
    display: flex;
    flex-direction: column;
    position: relative;
}

.stat-container {
    display: flex;
    align-items: center;
}

.stat-img {
    width: 20%;
    height: 100%;
}

.stat-numbers {
    font-weight: 700;
    font-size: 2.4em;
    position: relative;
    transform-origin: left;
    scale: 1;
}

.stat-text {
    font-weight: 500;
    font-size: 1.3em;
}

.dark-bg {
    color: white;
    background-color: var(--logo-bg-color);
    border-left: 5px solid var(--text-color);
}

.text {
    width: 30%;
}

.img {
    position: relative;
    width: min(550px, 80%);
    scale: 1;
    opacity: 1;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(31, 31, 31);
    /* animation: fade-in-from-left linear forwards;
    animation-timeline: view();
    animation-range-start: 100px;
    animation-range-end: 120px; */
}

@keyframes fade-in {
    to { opacity: 1; }
}

@keyframes zoom-in {
    to { scale: 1; }
}

@keyframes fade-in-w-zoom {
    to { scale: 1; opacity: 1; }
}

@keyframes fade-in-from-left {
    60% { right: 0; }
    100% { right: 0; opacity: 1; }
}

@keyframes pop-up {
    to { top: 0; }
}

@keyframes bounce {
    0% { scale: 1; }
    30% { scale: 1.3; }
    50% { scale: 1.3; }
    60% { scale: 1; }
    80% { scale: 1; }
    90% { scale: 1.3; }
    100% { scale: 1; }
}

@media screen and (max-width: 845px) {
    .container {
        width: 100%;
    }
    .text {
        width: 80%;
    }
    .our-projects > .boxes {
        width: 100%;
    }
}

/* Boxes from Our Services + flip animation */

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-height: max-content;
    gap: 10px;
}

.box-container {
    width: max(360px, 30vw);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: max-content;
    gap: 5px;
}

.box-container > h2 {
    color: var(--subheading-color);
}

.box {
    width: max(360px, 30vw);
    max-width: 600px;
    border-radius: 20px;
    border-radius: 20px;
    transform-style: preserve-3d;
    transition: all .5s ease;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(31, 31, 31);
}


/* This is a SICK effect, but don't use it

.box:active {
    transform: rotateY(180deg);
} */

/* .box:not(:hover) {
    transform: rotateY(0deg);
} */

.box > .text-container {
    border: 2px solid var(--logo-bg-color);
    cursor: pointer;
    border-radius: 20px;
    position: absolute;
    background-color: salmon;
    width: max(360px, 30vw);
    max-width: 600px;
    aspect-ratio: 4/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.box > #image-1 {
    background-image: url("./img/service/service1.jpg");
}

.box > #image-2 {
    background-image: url("./img/service/service2.jpg");
}

.box > #image-3 {
    background-image: url("./img/service/service3.jpg");
}

.box > .image {
    border: 2px solid var(--logo-bg-color);
    cursor: pointer;
    /* position: absolute; */
    width: max(360px, 30vw);
    max-width: 600px;
    aspect-ratio: 4/3;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    backface-visibility: hidden;
}

.box p {
    font-size: clamp(.8rem, 1.1vw, 1.25rem);
    font-weight: 600;
}

.subheading {
    color: var(--subheading-color);
}

.big-subheading {
    font-size: max(1.6rem, 1.4vw);
}

.about-us > .text > p, .about-us > .text > .heading {
    text-align: left;
}

.our-projects > .boxes {
    width: 80%;
    gap: 50px;
}

.our-projects > .boxes > .box-container {
    width: max(360px, 22.5vw);
}

.our-projects > .boxes > .box-container > .box {
    width: max(360px, 22.5vw);
    max-width: 600px;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-size: cover;
    border : 2px solid var(--logo-bg-color);
}

#project-1 { background-image: url("./img/projects/project1.jpg"); }
#project-2 { background-image: url("./img/projects/project2.jpg"); }
#project-3 { background-image: url("./img/projects/project3.jpg"); }
#project-4 { background-image: url("./img/projects/project4.jpg"); }
#project-5 { background-image: url("./img/projects/project5.jpg"); }
#project-6 { background-image: url("./img/projects/project6.jpg"); }

.mini-separator {
    width: calc(max(360px, 22.5vw) / 2);
    height: 1px;
    background-color: var(--logo-bg-color);
    border: 0;
    outline: 0;
}

.exec-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.team-boxes {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.team-box {
    width: max(360px, 20vw);
}

#team-img-1 { background-image: url("./img/team/team-1.jpg"); }
#team-img-2 { background-image: url("./img/team/team-2.jpg"); }
#team-img-3 { background-image: url("./img/team/team-3.jpg"); }
#team-img-4 { background-image: url("./img/team/team-4.jpg"); }

.team-img, .team-text {
    width: 100%;
}

.team-img {
    border-top-right-radius: 30px;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.team-text {
    padding: 10px 20px;
    background-color: rgb(252, 252, 252);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.team-text > p {
    font-size: 1.4rem;
    text-align: left;
}

.separator {
    width: 80%;
    height: 1px;
    background-color: var(--logo-bg-color);
    border: 0;
}