html {
    transition: scroll .5s ease-out;
    scroll-behavior: smooth;
}

:root {
    --logo-bg-color: #2B2E4D;
    --text-color: #1b1d30;
    --subheading-color: rgb(244, 76, 58);
}

#scrollbar-container {
    height: max(5px, .8vh);
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: grey;
    z-index: 100000000;
    left: 0;
}

#scrollbar {
    background-color: yellow;
    height: 100%;
    scale: 0 1;
    transform-origin: left;
}

#face {
    width: 100%;
    height: 100vh;
    z-index: 10000;
    display: none;
}

body {
    background-color: white;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

main {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 20px 10px;
}

p {
    font-size: clamp(1rem, 1vw, 2rem);
    text-align: center;
}

.heading {
    text-align: center;
}

.text > .heading, p {
    animation: fade-in 1s;
}

.card-container {
    padding: 0 2%;
}

.container.stats {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    z-index: 1;
}

.a-stat {
    display: flex;
    flex-direction: column;
    position: relative;
}

.stat-container {
    display: flex;
    align-items: center;
}

.stat-img {
    width: 20%;
    height: 100%;
}

.stat-numbers {
    font-weight: 700;
    font-size: 2.4em;
    position: relative;
    transform-origin: left;
    scale: 1;
}

.stat-text {
    font-weight: 500;
    font-size: 1.3em;
}

.dark-bg {
    color: white;
    background-color: var(--logo-bg-color);
    border-left: 5px solid var(--text-color);
}

.text {
    width: 30%;
}

.img {
    position: relative;
    width: clamp(25%, 90%, 40vh);
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(31, 31, 31);
}

@media screen and (max-width: 845px) {
    .container {
        width: 100%;
    }
    .text {
        width: 80%;
    }
    .our-projects > .boxes {
        width: 100%;
    }
}

/* Boxes from Our Services + flip animation */

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-height: max-content;
    gap: 2vw;
}

.box-container {
    width: max(360px, 20vw);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-container > h2 {
    color: var(--subheading-color);
}

.box {
    width: max(360px, 20vw);
    border-radius: 20px;
    transform-style: preserve-3d;
    transition: all .5s ease;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgb(31, 31, 31),
                -5px 5px 10px rgb(31, 31, 31);
}

/* This is a SICK effect, but don't use it

.box:active {
    transform: rotateY(180deg);
}

.box:not(:hover) {
    transform: rotateY(0deg);
} */

.box > .text-container {
    padding: 10px 5px;
    position: relative;
    cursor: pointer;
    border-bottom-left-radius: 20px;
    background-color: rgb(252, 252, 252);
    width: max(360px, 20vw);
    height: max(380px, 33vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    backface-visibility: hidden;
}

.box > #image-1 {
    background-image: url("./img/service/service1.jpg");
}

.box > #image-2 {
    background-image: url("./img/service/service2.jpg");
}

.box > #image-3 {
    background-image: url("./img/service/service3.jpg");
}

.box > .image {
    width: max(360px, 20vw);
    /* border: 2px solid var(--logo-bg-color); */
    cursor: pointer;
    /* position: absolute; */
    aspect-ratio: 4/3;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 20px;
    backface-visibility: hidden;
}

.box > .text-container > p {
    font-size: clamp(1rem, .8vw, 27px);
}

#our-services-boxes > .box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#our-services-boxes > .box-container > .box:hover { scale: 1.01; }

#our-services-boxes > .box-container:nth-child(1) { transition-delay: 200ms; }
#our-services-boxes > .box-container:nth-child(2) { transition-delay: 400ms; }
#our-services-boxes > .box-container:nth-child(3) { transition-delay: 600ms; }

.subheading {
    color: var(--subheading-color);
}

.big-subheading {
    font-size: max(1.6rem, 1.4vw);
}

.about-us > .text > p, .about-us > .text > .heading {
    text-align: left;
}

.our-projects > .boxes {
    width: 80%;
}

.our-projects > .boxes > .box-container {
    width: max(340px, 18vw);
}

.our-projects > .boxes > .box-container > p {
    font-size: 1rem;
}

.our-projects > .boxes > .box-container > .box {
    width: max(320px, 18vw);
    max-width: 600px;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-size: cover;
}

#our-projects > .boxes > .box-container > .box:hover { scale: 0.98; }

#project-1 { background-image: url("./img/projects/project1.jpg"); }
#project-2 { background-image: url("./img/projects/project2.jpg"); }
#project-3 { background-image: url("./img/projects/project3.jpg"); }
#project-4 { background-image: url("./img/projects/project4.jpg"); }
#project-5 { background-image: url("./img/projects/project5.jpg"); }
#project-6 { background-image: url("./img/projects/project6.jpg"); }

.mini-separator {
    width: calc(max(360px, 22.5vw) / 2);
    height: 1px;
    background-color: var(--logo-bg-color);
    border: 0;
    outline: 0;
    margin: max(1vh, 10px) 0;
}

.exec-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.team-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.team-box {
    width: max(300px, 15vw);
    margin: 2vw;
}

.team-box:nth-child(1) { transition-delay: 200ms; }
.team-box:nth-child(2) { transition-delay: 400ms; }
.team-box:nth-child(3) { transition-delay: 600ms; }
.team-box:nth-child(4) { transition-delay: 800ms; }

#team-img-1 { background-image: url("./img/team/team-1.jpg"); }
#team-img-2 { background-image: url("./img/team/team-2.jpg"); }
#team-img-3 { background-image: url("./img/team/team-3.jpg"); }
#team-img-4 { background-image: url("./img/team/team-4.jpg"); }

.team-img, .team-text {
    width: 100%;
}

.team-img {
    border-top-right-radius: 30px;
    aspect-ratio: 7/8;
    background-repeat: no-repeat;
    background-size: cover;
}

.team-text {
    color: var(--text-color);
    padding: 10px 20px;
    background-color: rgb(252, 252, 252);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.team-text > p {
    font-size: 1.4rem;
    text-align: left;
}

.separator {
    width: 80%;
    height: 1px;
    background-color: var(--logo-bg-color);
    border: 0;
}

/* Animation Class */

.hidden {
    position: relative;
    right: 200px;
    opacity: 0;
}

.from-left, .show {
    position: relative;
    opacity: 1;
    right: 0;
    transition: all 1s ease;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes zoom-in {
    to { scale: 1; }
}

@keyframes fade-in-w-zoom {
    to { scale: 1; opacity: 1; }
}

@keyframes fade-in-from-left {
    0% { right: 100px; opacity: 0; }
    60% { right: 0; }
    100% { right: 0; opacity: 1; }
}

@keyframes pop-up {
    to { top: 0; }
}

@keyframes bounce {
    0% { scale: 1; }
    30% { scale: 1.3; }
    50% { scale: 1.3; }
    60% { scale: 1; }
    80% { scale: 1; }
    90% { scale: 1.3; }
    100% { scale: 1; }
}

.scroll-to-top {
    opacity: 0;
    z-index: 9;
    position: fixed;
    right: 7.5vw;
    bottom: 7.5vh;
    width: clamp(6vh, 5vw, 7.5vh);
    aspect-ratio: 1;
    background-color: rgba(27, 27, 27, 0.75);
    border-radius: 50%;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    cursor: pointer;
    transition: all .5s;
}

.arrow-line {
    width: 60%;
    height: 15%;
    border-radius: 10px;
    background-color: white;
    position: relative;
}

.arrow-line:nth-child(1) { transform: rotate(-40deg); left: 10%; }
.arrow-line:nth-child(2) { transform: rotate(40deg); right: 10%; }